<?php

$header = <<<'EOF'
 This file is part of the BlendEngine framework.

 (c) Gevik Babakhani <gevikb@gmail.com>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
EOF;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'ordered_imports' => true,
        'array_syntax' => array('syntax' => 'long'),
        'no_unused_imports' => true,
        'concat_space' => false,
        'phpdoc_add_missing_param_annotation' => true,
        'header_comment' => array('header' => $header)
    ))
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__)
            ->exclude(array(
                'temp',
                'vendor',
                'src/Framework/Console/Command/Orm/templates'
            ))
    )
;